#big-image {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-position: center;
    object-fit: cover;
    
}

#img-container {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;   
    border-bottom-width: 10px;
    border-color: darkred;
    border-style: solid;    
    padding-bottom: 3px;
    position: relative;
}   

#displayed-word,
#wrong-letters {
    letter-spacing: 0.3em; 
    font-size: 24px; 
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,
#game-main {
    width: 720px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase; 
    color: black;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 72px;
    letter-spacing: -0.1em;
    font-weight: bold;
    margin-top: 3px;
    line-height: 0.8em;
}

h2 {
    font-size: 46px;
    letter-spacing: -.05em;
    font-weight: 900;
    margin-top: -3px;
}

#instructions-box,
#word-box,
#guess-box,
#wins-box,
#guesses-remaining-box   {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 10px;  
    margin: 5px 0;
}

#instructions {
    font-size: 24px;
    font-weight: bold;
    color: darkred;
}

#wins-box,
#guesses-remaining-box   {
    width: 75px;
    background-color: white;
    bottom: 10px;
}

#wins-box {
    position: absolute;
    left: 15px;
}   

#word-box p,
#guess-box p {
    margin-bottom: 10px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    padding-bottom: 10px;
}

#guesses-remaining-box  {   
    position: absolute;
    right: 15px;
}

#num-wins,
#guesses-remaining {
    font-size: 60px;
    color: darkred;
}

audio {
    width: 100%;
    border-radius: 15px;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}